<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles.css">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to <%= person %>'s Profile Page</h1>

    <p>#BestWebsite</p>
    <ul>
      <% data.hobbies.forEach(function(item){ %>
        <li><%= item %></li>
    <%  }); %>
    </ul>

  </body>
</html>
